<header>
<p>Powered by <%= link_to "https://newsapi.org" do %>　News API　<% end %> <p>
</header>
<hr>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <% if @error %>
              <p> <%= @error %> </p>
            <% else %>
              <ul>
                <% @articles.each do |article| %>
              <li>
                <%= link_to article['title'],article['url'] %> 
                <%= article['sourse']['name'] %>
              </li>
            <% end %>
              </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
