<header>
<p>Powered by <%= link_to "https://newsapi.org" do %>　News API　<% end %> <p>
</header>
<hr>

<div class="album py-5 bg-light">
 <div class="container">
   <div class="row">
     <% @news.each do |news| %>
       <div class="col-md-4">
         <%= link_to news.url do %>
           <div class="card mb-4 shadow-sm">
             <% if news.urlToImage.present? %>
               <%= image_tag(news.urlToImage, class: "item-img") %>
             <% else %>
               
             <% end %>
             <div class="card-body">
               <p class="card-text">
                 <%= news.title %>
               </p>
             </div>
           </div>
         <% end %>
       </div>
     <% end %>
   </div>
 </div>
</div>